* {
    color: white
}

.temperatures-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;

}
h1, h4 {
    mix-blend-mode: difference;
}

.temperatures-container>span {
    align-items: flex-end;
}

.temperatureForecast {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temperatureForecast>p {
    padding: 0.5rem;
}

.temperatureForecastList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.temperatureForecastElement {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperatureForecastElement>small,p {
    mix-blend-mode: difference;

}


