* {
  margin: 0;
  padding: 0;
  --clear: linear-gradient(rgb(157, 199, 202), rgb(108, 179, 189));   
  --cloudy: linear-gradient(rgb(221, 221, 221), rgb(156, 160, 156));   
  --rain: linear-gradient(rgb(120, 175, 209), rgb(129, 136, 150));   
  --sunny : linear-gradient(rgb(194, 190, 138), rgb(189, 184, 108)); 
  --home: linear-gradient(rgb(0, 0, 0), rgb(37, 37, 37)); 
}

main {
  width: 100vw;
  height: 100vh;
  
}

.App {
  background-image: var(--home);
  text-align: center;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: grid;
  mix-blend-mode: difference;
  padding: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
