* {
  margin: 0;
  padding: 0;
  mix-blend-mode: difference;

}

main {
  width: 100vw;
  height: 100vh;
  
}

.App {
  /* FAZER MUDAR CONFORME O TEMPO */
  /* background-image: linear-gradient(rgb(221, 221, 221), rgb(156, 160, 156));   */
  background-color: black;
  text-align: center;
  mix-blend-mode: difference;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: grid;
  mix-blend-mode: difference;
  padding: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
